.hero-container {
  min-height: 600px;
  background-image: url('/assets/hero-container.jpg');
  color: white;
  font-weight: bold;
}

.hero-content {
  max-width: 60%;
  text-align: center;
  padding: 100px 0;
}

.hero-description {
  font-size: 24px;
  line-height: 32px;
} 

.form-field {
  position: relative;
  .icon {
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

.form-input {
  width: 100%;
  padding: 20px 25px 20px 55px;
  background-color:white;
  border: none;
}

.separator {
  border-right: 1px solid black !important;
}

.search {
  background-color: #02bbcf;
  
}
.search1{
      width: 60px;
      padding: 10px;
}


nav {
  transition-duration: 0.5s;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.nav-link {
  color: #000;
  transition: color .25s ease-in-out, background-color .25s ease-in-out, border-color .25s ease-in-out;
}

.btn-r {
  border-radius: 0;
}

#navbarNavDropdown {
  .nav-item {
    padding: 10px 25px;
  }
  --bs-navbar-color: white;
  --bs-navbar-active-color: white;
}

.small-icon {
  width: 25px;
}