.card.bg-image-dubai {
  background-image: url(./assets/cities/dubai.jpg);
  height: 450px;
  background-size: cover;
}

.package-container1 {
  background-image: url('/assets/green.webp');
  height: 320px;
}

.card-img-top {
  height: 100px;
}

.color1{
  color: white;
}

.package-list {
  .card {
    padding: unset;
    text-align: left;
  }
}
.customd{
  height: 60px;
    width: 111px;
    padding: 14px;
    border-radius: 0;
    color: wheat;
    background: skyblue;
}
customi{
  width: 50%;
    align-content: center;
}
.package-border-top {
  border-top: 1px solid;
}

.package-border-left {
  border-left: 1px solid;
}

.image-align-fit {
  object-fit: cover;
}