
.card.bg-image-dubai {
  background-image: url(./assets/cities/dubai.jpg);
  height: 450px;
  background-size: cover;
  width: 320px;
}
.card.bg-image-thailand {
  background-image: url(./assets/cities/thailand.jpg);
  height: 450px;
  background-size: cover;
  width: 320px;
}
.card.bg-image-london {
  background-image: url(./assets/cities/london.jpg);
  height: 450px;
  background-size: cover;
  width: 320px;
}

.star-icon {
  width: 16px;
  fill: gold;
}